<div class="container">
     <div class="row justify-content-start">
       <div class="col-12">
        
         <h2>Banks Account Dashboard</h2>
                  
       </div>
    </div>
   </div>
   <hr>
<div class="container">
  <div class="row">
    <div class="col-sm card border-ligth mb-3">
                <button type="button" class="btn btn-primary btn-sm">add new bank account</button>
                <hr>
                <!-- <app-bank-accounts></app-bank-accounts> -->
            </div>
  
     
      
      
      <div class="col-sm card border-light mb-3 offset-md-1">
        <h6>BANKS TRANSACTIONS BY MONTH</h6>
        <hr>
        <!-- <app-bank-graph></app-bank-graph> -->
      </div>
    </div>
    </div>
